# https://fal.ai/dashboard/keys
FAL_KEY=""

# https://uploadthing.com required if you want to use file upload
UPLOADTHING_TOKEN=""

# sustituir uploadthing por supabaseKey
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# https://upstash.com required if you want to the share button
KV_URL=""
KV_REST_API_READ_ONLY_TOKEN=""
KV_REST_API_TOKEN=""
KV_REST_API_URL=""

# posible custom key
NEXT_PUBLIC_CUSTOM_KEY=""